.modal-header{
    color: white;
    background-color: indianred;
}

.view{
    color: red;
}

.new{ color: green}

#newOrdModal .modal-header{
    color: white;
    background-color: darkseagreen;
}

.close{ color: green}

.save{ color: green}

